@use '../index.scss' as *;
@use "sass:color";

$navbar-height: 35px;

#nav-bar {
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  margin: 15px 15px 0 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid $primary-light;
}

#search-bar {
  margin: 0 20px 0 20px;
  flex-grow: 1;
  background-color: $primary-light;
  outline: none;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  padding: 0 20px 0 40px;
  max-width: 400px;
}

#gh-repo-lnk {
  display: flex;
  align-items: center;
  img {
    &:hover {
      cursor: pointer;
    }
    height: $navbar-height;
  }
}

#home-button {
  flex-grow: 1;
  color: $primary-light;
  font-weight: bold;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  &:active {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
  max-width: 80px;
}