@use '../index.scss' as *;
@use "sass:color";

$navbar-height: 40px;

.navbar {
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  margin: 15px 15px 0 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  >input {
    margin: 0 20px 0 20px;
    flex-grow: 1;
    font-size: 15px;
    max-width: 400px;
  }
  >.contribute {
    display: flex;
    align-items: center;
    color: $primary-text;
    text-decoration: none;
    background-color: $element-bg;
    padding: 10px;
    gap: 10px;
    border-radius: $border-radius;
    font-size: 14px;
    img {
      &:hover {
        cursor: pointer;
      }
      height: $navbar-height - 20px;
    }
  }
  .home-btn {
    flex-grow: 1;
    font-weight: bold;
    background-color: $primary;
    color: $primary-text;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    text-decoration: none;
    &:active {
      background-color: color.adjust($primary, $lightness: -10%);
    }
    max-width: 80px;
  }
}