@use '../index.scss' as *;

.tag {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 999em;
    border: 2px solid;
    box-sizing: border-box;
}
