@use '../index.scss' as *;

.tile {
    display: block;
    color: $primary-text;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-decoration: none;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    >.image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1;
    }
    >.title {
        font-size: 20px;
        font-weight: bold;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $primary-text;
    }
    >.desc {
        color: $dull-text;
        height: 3lh;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    >.tags {
        margin-top: auto;
        height: fit-content;
    }
    &:hover {
        box-shadow: 0 0 10px black;
    }
}
