@use '../index.scss' as *;

.string-art {
  >div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    height: calc(100% - 100px);
    >.input-section {
      width: 100%;
      min-width: 350px;
      max-width: 600px;
      display: grid;
      gap: 20px;
      height: fit-content;
      grid-template-columns: auto auto auto;
      >div {
        display: grid;
        grid-auto-rows: 90px;
        align-items: center;
        >div {
          width: 30px;
          height: 30px;
          background-color: $element-bg2;
          mask-image: url('../../assets/reset.svg');
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: 100%;
          cursor: pointer;
        }
      }
    }
    >canvas {
      display: block;
      min-height: 400px;
    }
  }
}