@use './_variables.scss' as *;
@use 'sass:color';

@mixin primary-button {
  border-radius: 10px;
  border: 0;
  padding: 10px;
  background-color: $primary;
  color: $primary-text;
  cursor: pointer;
  &:active {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}