@use 'index.scss' as *;

body {
  margin: 0;
}

#root {
  background-color: $bg;
  color: $primary-text;
  font-family: system-ui;

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  >main {
    margin: 0 15px 0px 15px;
    overflow-y: scroll;
  }
  h1 {
    text-align: center;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: $element-bg;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $element-bg2;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-corner {
    background-color: $element-bg;
  }
  * {
    scrollbar-width: 12px;
    scrollbar-color: $element-bg2 $element-bg;
  }
  input {
    background-color: $element-bg;
    border: 0;
    outline: 0;
    &[type='text'] {
      border-radius: 10px;
      color: $primary-text;
      padding: 10px;
    }
    &[type='range'] {
        appearance: none;
        border-radius: 5px;
        height: 10px;
      &::-moz-range-thumb {
        background-color: $primary;
        border: 0;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: $primary;
        border: 0;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    &[type='checkbox'] {
      appearance: none;
      width: 25px;
      height: 25px;
      background-color: $element-bg;
      cursor: pointer;
      &:checked {
        background-color: $primary;
        mask-image: url('../assets/checkmark.svg');
        mask-position: center;
        mask-size: 100%;
      }
    }
  }
  button {
    @include primary-button;
  }
  >.navbar {
    >input {
      border-radius: 100px;
      padding: 0 20px 0 40px;
    }
  }
}