@use 'index.scss' as *;

body {
  margin: 0;
  background-color: $bg-color;
  color: $primary-light;
  font-family: system-ui;
  h1, h2, h3 {
    text-align: center;
  }
  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}